# hidden/temp files
.DS_Store
*.swp
*~.nib
*.bk
Thumbs.db
 
# Build dir
build/
*.build/
 
# Temp dir
tmp/
temp/

# Xcode project files except for the project file
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata
 
# User-specific project settings
*.mode1v3
*.mode2v3
