<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>06DF8B4E18F7871B007BABCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06DF8B6918F7871B007BABCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06F88EB918F7C3EF0078E637</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06F88ED618F7CC380078E637</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06F88EF518F7CC380078E637</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
